body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;   
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.header {
    height: 200px;
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
    border: 40px;
  }

.header img{
  margin-top: 12px;
}  
  
.headerlinks{
  display: flex; 
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}

li{
  list-style-type: none;
}

.headerlinks a{
  color: #e5e7eb;
  text-decoration: none;
  margin-bottom: 16px;
  padding-top: 28px;
  padding-right: 19px;
}

.herocontent{
  background-color: #1f2937;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding-left: 275px;
  padding-right: 275px;
}
.herotext{
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 55px;
}

.herocontent button{
display: block;
text-align: center;
width: 110px;
border: none;
background: #3882f6;
padding: 10px;
border-radius: 18px;
color: #fff;
font-family: 'Roboto', arial;
text-decoration: none;
font-weight: bold;
}
.herocontent img{
  margin-top: 55px;
  margin-left: 50px;
}
.herocontent h1{
  inline-size: 270px;
  color: #f9fafa;
  font-size: 48px;
  overflow-wrap: normal;
  margin-bottom: 10px;
}
.herocontent p{
  inline-size: 270px;
color: #efe7eb;
font-size: 18px;
overflow-wrap: normal;
}

  .body{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
  }
.labeled-photos{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.labeled-photos img{
  border:3px solid rgb(93, 170, 214);
}

.quote{
  display: flex;
  height: 100px;
  background:#e5e7eb;
}


  .footer {
    height: 72px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }