body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;   
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.header {
    height: 200px;
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: flex-start;
    padding-left: 285px;
    padding-right: 305px;
    border: 40px;
  }

.header img{
  margin-top: 12px;
}  
  
.headerlinks{
  display: flex; 
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}

li{
  list-style-type: none;
}

.headerlinks a{
  color: #e5e7eb;
  text-decoration: none;
  margin-bottom: 16px;
  padding-top: 28px;
  padding-right: 19px;
}

.herocontent{
  background-color: #1f2937;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding-left: 225px;
  padding-right: 225px;
}
.herotext{
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 55px;
}

.herotext button{
display: block;
text-align: center;
width: 110px;
border: none;
background: #3882f6;
padding: 10px;
border-radius: 18px;
color: #fff;
font-family: 'Roboto', arial;
text-decoration: none;
font-weight: bold;
}
.herocontent img{
  margin-top: 55px;
  margin-left: 50px;
  width: 740px;
  height: 225px;
}
.herocontent h1{
  inline-size: 270px;
  color: #f9fafa;
  font-size: 48px;
  overflow-wrap: normal;
  margin-bottom: 10px;
}
.herocontent p{
  inline-size: 270px;
color: #efe7eb;
font-size: 18px;
overflow-wrap: normal;
}

  .body{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
  }
.labeled-photos{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.labeled-photos img{
  border:3px solid rgb(93, 170, 214);
  border-radius: 8px;
}

.quote{
  display: flex;
  flex-direction: column;
  background:#e5e7eb;
  flex: 1;
}
.quote p{
  display: flex;
  justify-content: center;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 150px;
  margin-bottom: 0;
  overflow-wrap: normal;
  font-size: 36px;
  font-style: italic;
  font-weight:30;
  color: #1f2937;
}
.quote b{
  padding-left: 450px;
  margin-bottom: 150px;
  font-size: 30px;
  color: #1f2937;
}

.calltoaction{
  background-color: #3882F6 ;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
}
.actioncontainer{
flex: 1;
color: #fff;
text-align: left;
}
.actionbutton button{
  color: #fff;
  font-family: 'Roboto', arial;
  border-color: white;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  font-size: 15px;
}

.footer {
    height: 72px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }