body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;   
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.header {
    height: 200px;
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
    border: 40px;
  }

.header img{
  margin-top: 12px;
}  
  
.headerlinks{
  display: flex; 
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}

li{
  list-style-type: none;
}

.headerlinks a{
  color: #e5e7eb;
  text-decoration: none;
  margin-bottom: 16px;
  padding-top: 28px;
  padding-right: 19px;
}

.herocontent{
  background-color: #1f2937;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 325px;
  padding-right: 325px;
}

.herocontent button{
display: block;
text-align: center;
width: 110px;
border: none;
background: #3882f6;
padding: 10px;
border-radius: 8px;
color: #fff;
font-family: 'Roboto', arial;
text-decoration: none;
font-weight: bold;
}

.herocontent{
  color: ;
}
.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 300px;
  }
  

  
  .body{
    display: flex;
    flex: 1;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
  }




.quote{
  display: flex;
  height: 100px;
  background:#e5e7eb;
}


  .footer {
    height: 72px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }